MONGODB_URI_CLUSTER1=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority&appName=PreDataCluster
MONGODB_URI_CLUSTER2=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority&appName=SmartParkCluster0
